# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/projectSettingsUpdater.xml
/modules.xml
/.idea.XysNeosMod.iml
# Datasource local storage ignored files
/../../../../../../../../:\Users\ethan\RiderProjects\XysNeosMod\.idea\.idea.XysNeosMod\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
